# This file is part of libtcspc
# Copyright 2019-2022 Board of Regents of the University of Wisconsin System
# SPDX-License-Identifier: MIT

*
!/.gitignore
!/catch2.wrap
!/catch2.wrap.license
!/tcb-span.wrap
!/tcb-span.wrap.license
