# This file is part of libtcspc
# Copyright 2019-2024 Board of Regents of the University of Wisconsin System
# SPDX-License-Identifier: MIT

/packagecache/

# Subprojects installed by meson wrap
/*-*/

# Ignore *.wrap by default because they include transitive dependencies
/*.wrap
!/catch2.wrap
!/google-benchmark.wrap
!/trompeloeil.wrap
