# This file is part of libtcspc
# Copyright 2019-2024 Board of Regents of the University of Wisconsin System
# SPDX-License-Identifier: MIT

---
Checks: >-
    -*,
    bugprone-*,
    cert-*,
    clang-analyzer-*,
    clang-diagnostic-*,
    concurrency-*,
    cppcoreguidelines-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -cert-msc32-c,-cert-msc51-cpp,
    -cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,
    -misc-use-anonymous-namespace,
    -readability-identifier-length,

# Reasons for disabled checks:
# [cert-msc32-c,cert-msc51-cpp] "properly seed PRNG"
#   Not relevant to this library; in fact we want reproducible random numbers.
# [cppcoreguidelines-avoid-magic-numbers,readability-magic-numbers]
#   Too many false positives from bit manipulation code where defining
#   constants would be merely circuitous; and tests.
# [misc-use-anonymous-namespace]
#   Too much noise from Catch2 and no way to selectively disable.
# [readability-identifier-length]
#   TBD

CheckOptions:
  cppcoreguidelines-avoid-do-while.IgnoreMacros: true
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
  misc-include-cleaner.IgnoreHeaders: 'catch2/.*;.*/trompeloeil.hpp'
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  readability-braces-around-statements.ShortStatementLines: 3
  readability-function-cognitive-complexity.IgnoreMacros: true
  readability-uppercase-literal-suffix.NewSuffixes: L;uL;LL;uLL
...
